<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Telefoni raamat</title>
    <link href="ProjektCSS.css" rel="stylesheet" type="text/css">
    <script src="/scripts/contactsApp.js"></script>
</head>
<body>
    <p class="headerfooter"><a href="" id="list-page-link" >Nimekiri</a> |
    <a href=""  id="add-page-link">Lisa kontakt</a></p>
    <div id="content">
        <table id="contacts">
            <thead>
            <tr>
                <th>Eesnimi</th>
                <th>Perekonnanimi</th>
                <th>Telefonid</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table><br>
    </div>

    <div class="headerfooter">Martin Sirg &copy;2018</div>

</body>
</html>